<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="diet.dao.RecomMapper">
	<insert id="insertrecom" parameterType="Recom">
		INSERT INTO recommend
		VALUES	
		(#{recom_id}, #{recom_exer}, #{kcal})
	</insert>
	<select id="searchrecom" parameterType="string" resultType="Recom" >
		SELECT
			recom_id
			, recom_exer
			, kcal
		FROM recommend
		WHERE
			recom_id = #{recom_id}		
	</select>
	
	<select id="selectAllrecom" resultType="Recom">
		select
			recom_id
			, recom_exer
			, kcal
		from recommend
		order by recom_id
	</select>
	
	<delete id="deleterecom" parameterType="string">
		DELETE
		from recommend
		WHERE
			recom_id = #{recom_id}
	</delete>
	
	<update id="updaterecom" parameterType="Recom">
		UPDATE recommend
		SET
			recom_exer = #{recom_exer}
			, kcal = #{kcal}
		WHERE
			recom_id = #{recom_id}
	</update>
	
	<select id="searchtyperecom" parameterType="String" resultType="Recom">
		select
			recom_id
			,recom_exer
			,kcal
		from recommend
		where
			recom_id like #{recom_id}||'%'			
		order by recom_id
		
	</select>
	
	
	
</mapper>